<md-card layout="column" layout-align="start start" class="users">
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span flex>Users</span>
            <md-button class="toolbar-button md-fab md-accent" ng-click="$$userController.createUser()">
                <md-icon md-font-set="material-icons">&#xE145;</md-icon>
            </md-button>
            <md-button class="toolbar-button md-fab md-primary" ng-click="$$userController.reload()">
                <md-icon md-font-set="material-icons">&#xE5D5;</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column><span>Name</span></th>
                <th md-column><span>Last name</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="user in $$userController.users">
                <td md-cell>{{user.name}}</td>
                <td md-cell>{{user.lastname}}</td>
                <td>
                    <md-button class="md-icon-button" ng-click="$$userController.editUser(user)">
                        <md-icon md-font-set="material-icons">&#xE150;</md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>