<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="DebugConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DATE} [%-36X{__log__uuid__}] @%level{length=1} %msg [%c{1.}][%t] %n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="DebugConsole"/>
        </Root>
    </Loggers>
</Configuration>